{% extends "owner/base_generic.html" %}

{% block content %}

    <h1>Bienvenidos !!! </h1>
    {% if nombre and edad %}
        <p>El owner existe!!</p>
        <p>Nombre: {{ nombre }}<p>
        <p>Edad: {{ edad }}</p>
        <p>DNI: {{ dni }}</p>
        <p>Pais: {{ pais }}</p>
        <!-- DEL EJERCICIO-->
{#        {% if edad > 18 %}#}
{#            <p>{{ nombre }} es mayor de edad y de nacionalidad {{ pais }}</p>#}
{#        {% else %}#}
{#            <p>{{ nombre }} es menor de edad y de nacionalidad {{ pais }}</p>#}
{#        {% endif %}#}
{#        {% if dni %}#}
{#            {% if vigente %}#}
{#                <p>Su pase está vigente</p>#}
{#            {% else %}#}
{#                <p>Su pase ya no está vigente</p>#}
{#            {% endif %}#}
{#        {% endif %}#}
        <!-- HASTA ACA EL EJERCICIO-->


{#        {% if edad > 18 %}#}
{#            <p>Usted es mayor de edad</p>#}
{#        {% else %}#}
{#            <p>Usted todavía no es mayor de edad</p>#}
{#        {% endif %}#}
{#        {% if dni %}#}
{#            {% if not vigente %}#}
{#                <p>Su pase está por vencer</p>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    {% else %}#}
{#        <p>Todavía no hay owner registrado</p>#}
    {% endif %}

{#    {% for owner in data reversed%}#}
{#        <li>#}
{#            <p><strong>Nombre de Owner: </strong>{{ owner.nombre }}</p>#}
{#            <p><strong>Edad de Owner: </strong>{{ owner.edad }}</p>#}
{#            <p><strong>Pais de Owner: </strong>{{ owner.pais }}</p>#}
{#        </li>#}
{#    {% endfor %}#}
    <div>
    {% for owner in data %}
        {% if owner.edad and owner.dni %}
            <p><strong>Nombre de Owner: </strong>{{ owner.nombre }}</p>
            <p><strong>Edad de owner:</strong>{{ owner.edad }}</p>

            {% if owner.pokemons %}
                {% for pokemon in owner.pokemons %}
                    {{ pokemon.nombre_pokemon }}
                    tiene los siguientes ataques, que son {{ pokemon.ataques | length }}:
                    {% for ataque in pokemon.ataques %}
                        {{ ataque }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    <button type="button" class="btn btn-primary">Pythonistas</button>
{% endblock %}